[data-global-resource-path="kan-theme/templates/partials/header.html"] {
  position: sticky;
  top: 0;
  z-index: var(--z-sticky);
}

.site-header__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo-link {
  display: inline-block;
}

.site-header__logotype {
  width: 207px;
  height: 40px;
}
