.logo-marquee-module {
  --height: 60px;
  --width: 100px;
  --duration: 50s;

  @media (--viewport-m) {
    --height: 100px;
    --width: 180px;
  }

  width: 100%;
  overflow: clip;

  .center-grid {
    --spacing-min-size: 1.5;
    --spacing-max-size: 5;

    margin-block-end: var(--fluid-spacing);
  }
}

.logo-marquee-module__container {
  --spacing-min-size: 0.5;
  --spacing-max-size: 4;

  display: flex;
  flex-direction: column;
  gap: var(--fluid-spacing);
}

.logo-marquee-module__list {
  --gap: 2.5rem;

  @media (--viewport-m) {
    --gap: 5rem;
  }
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  min-width: calc(
    var(--width) * var(--quantity) + (var(--gap) * var(--quantity))
  );
  height: var(--height);

  &[data-reverse="true"] .logo-marquee-module__item {
    animation-direction: reverse;
  }
}

.logo-marquee-module__item {
  position: absolute;
  left: 100%;
  width: var(--width);
  height: var(--height);
  display: flex;
  align-items: center;

  animation: autoRun var(--duration) linear infinite;
  animation-delay: calc(
    (var(--duration) / var(--quantity)) * (var(--position) * -1)
  ) !important;

  @media (prefers-reduced-motion) {
    animation-play-state: paused !important;
  }
}

.logo-marquee-module__image {
  width: 100%;
  user-select: none;
}

@keyframes autoRun {
  from {
    left: 100%;
  }
  to {
    left: calc(var(--width) * -1);
  }
}
