html {
  overflow-x: clip;
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  height: auto; /* Needed for smoothscrolling to be able to scroll all the way to the bottom */

  &:has(dialog[open]) {
    overflow-y: hidden;
  }
}

body {
  background-color: var(--color-surface-primary);
  color: var(--color-text-primary);

  ::selection {
    background-color: var(--selection-bg);
    color: var(--selection-color);
  }
}

[id] {
  scroll-margin-top: 3.5rem;
}
