/**
* Listing page
*/
.career-list {
  display: grid;
  gap: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.career-list__item {
  &:not(:last-child) {
    border-bottom: 1px solid var(--color-border-secondary);
  }
}

.career-article {
  display: grid;
  grid-template-columns: auto max-content;
  gap: 2rem;
}

.career-article__tags {
  display: flex;
  gap: 0.5rem;
  list-style: none;
  padding: 0;
}

/** 
* Post page 
*/
.career-post-template__grid {
  display: grid;
  gap: 3rem;

  @media (--viewport-m) {
    grid-template-columns: 2fr 1fr;
  }
}
