:root {
  --btn-font-size-mobile: 0.875; /* 14px */
  --btn-font-size-desktop: 1; /* 16px */

  &,
  [theme="light"] {
    /* Primary */
    --btn-color: var(--color-brand-sea);
    --btn-color-hover: var(--color-brand-sea);
    --btn-bg: var(--colo-brand-secondary);
    --btn-bg-hover: var(--btn-bg);
    --btn-border-color: var(--btn-bg);
    --btn-border-color-hover: var(--btn-bg-hover);
    --btn-hover-opacity: 0.7;
    --btn-shadow: 0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
    --btn-shadow-focus:
      0px 0px 0px 2px var(--color-white), 0px 0px 0px 4px var(--btn-bg-hover);

    /* Secondary */
    --btn-secondary-color: var(--color-white);
    --btn-secondary-color-hover: var(--color-white);
    --btn-secondary-bg: var(--color-brand-sea);
    --btn-secondary-bg-hover: var(--color-brand-sea);
    --btn-secondary-border-color: var(--btn-secondary-bg);
    --btn-secondary-border-color-hover: var(--btn-secondary-bg-hover);
    --btn-secondary-shadow:
      0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
    --btn-secondary-shadow-focus:
      0px 0px 0px 2px var(--color-white),
      0px 0px 0px 4px var(--btn-secondary-bg-hover);
  }

  [theme="light secondary"] {
    /* Primary */
    --btn-color-hover: var(--color-white);
    --btn-bg-hover: var(--color-brand-sea);
    --btn-border-color: var(--color-brand-sea);
    --btn-border-color-hover: var(--color-brand-sea);

    /* Secondary */
    --btn-secondary-color: var(--color-white);
    --btn-secondary-color-hover: var(--color-white);
    --btn-secondary-bg: var(--color-brand-sea);
    --btn-secondary-bg-hover: var(--color-brand-sea);
    --btn-secondary-border-color: var(--btn-secondary-bg);
    --btn-secondary-border-color-hover: var(--btn-secondary-bg-hover);
    --btn-secondary-shadow:
      0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
    --btn-secondary-shadow-focus:
      0px 0px 0px 2px var(--color-white),
      0px 0px 0px 4px var(--btn-secondary-bg-hover);
  }

  [theme*="dark"] {
    /* Secondary */
    --btn-secondary-color: var(--color-primary-bright);
    --btn-secondary-color-hover: var(--color-primary-dark);
    --btn-secondary-bg: transparent;
    --btn-secondary-bg-hover: var(--color-primary-bright);
    --btn-secondary-border-color: var(--btn-secondary-color);
    --btn-secondary-border-color-hover: var(--btn-secondary-bg-hover);
    --btn-secondary-shadow:
      0px 0px 0px 0px transparent, 0px 0px 0px 0px transparent;
    --btn-secondary-shadow-focus:
      0px 0px 0px 2px var(--color-primary-dark),
      0px 0px 0px 4px var(--btn-secondary-bg-hover);
  }

  /**
  * Sizes
  **/

  /* Small */
  --btn-small-p-block-mobile: 0.5rem;
  --btn-small-p-inline-mobile: 1rem;
  --btn-small-p-block-desktop: 0.75rem;
  --btn-small-p-inline-desktop: 1.125rem;

  /* Default */
  --btn-default-p-block-mobile: 1rem;
  --btn-default-p-inline-mobile: 1.25rem;
  --btn-default-p-block-desktop: 1.125rem;
  --btn-default-p-inline-desktop: 1.875rem;
}
