.check-list {
  --_check-color: black;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  .list-item {
    display: grid;
    grid-template-columns: 32px 1fr;
    column-gap: 0.5rem;
  }

  .icon {
    position: relative;
    top: 0;
    width: 32px;
    height: 32px;
  }

  [theme*="light"] & {
    .list-item {
      position: relative;

      &::before {
        background-color: color-mix(
          in oklab,
          black 60%,
          var(--_check-color) 50%
        );
        border-radius: 50%;
        content: "";
        width: 24px;
        height: 24px;
        position: absolute;
        top: 3px;
        left: 5px;
      }

      &:has(.text-primary) {
        --_check-color: var(--color-text-inverted);
        &::before {
          background-color: var(--color-text-inverted);
        }
      }
    }
  }

  &.check-list--small {
    .list-item {
      column-gap: 0.5rem;
    }

    .icon {
      top: -0.1875rem;
    }

    .item-content {
      --font-min-size: var(--fontSize-body-small-mobile);
      --font-max-size: var(--fontSize-body-small-desktop);

      font-size: var(--fluid-font-size);
    }
  }
}
