.icon {
  display: inline-block;
  fill: currentColor;
}

.icon--small {
  width: 20px;
  height: 20px;
}
.icon--medium {
  width: 24px;
  height: 24px;
}
.icon--large {
  width: 32px;
  height: 32px;
}
.icon--extra-large {
  width: 48px;
  height: 48px;
}
