.language-picker-container {
  position: relative;

  .lang-icon {
    width: 1rem;
    height: 1rem;
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.lang-picker-toggle {
  display: grid;
  align-items: center;
  grid-template-columns: 1rem auto 1.25rem;
  gap: 0.325rem;
  cursor: pointer;
  padding: 0.325rem;
  padding-inline: 0.75rem;
  border-radius: 999rem;
  border: 1px solid var(--color-text-primary);
  margin-block-end: 0;
  transition: background-color 300ms ease-in-out;

  &[aria-expanded="true"],
  &:hover,
  &:focus-visible {
    background-color: var(--color-tint-040);
  }

  &[aria-expanded="true"] {
    .icon-chev {
      rotate: 180deg;
    }
  }

  .icon-chev {
    transition: rotate 300ms var(--spring);
  }
}

.language-picker {
  display: none;
  opacity: 0;
  transition-property: display, opacity;
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.3, 0.01, 0.3, 1);
  transition-behavior: allow-discrete;
  position: absolute;
  z-index: var(--z-dropdown);
  width: 100%;
  left: revert;
  right: 0;

  background-color: var(--color-surface-secondary);
  border-color: var(--color-text-primary);
  border-width: 1px;
  border-style: solid;
  border-radius: 0.5rem;

  &.is-active {
    display: block;
    opacity: 1;

    @starting-style {
      opacity: 0;
    }
  }

  .lang-list {
    list-style-type: none;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.25rem 0.25rem;
    gap: 0.125rem;
  }

  .lang-item {
    margin-block-end: 0;
  }

  .lang-link {
    display: grid;
    align-items: center;
    grid-template-columns: 1rem auto;
    gap: 0.325rem;
    padding-block: 0.375rem;
    padding-inline: 0.5rem;
    border-radius: 0.25rem;
    text-decoration: none;
    transition: background-color 300ms ease-in-out;

    &:hover,
    &:focus-visible,
    &.current-lang {
      background-color: var(--color-tint-040);
    }
  }
}

.language-picker--bottom {
  top: calc(100% + 2px);
}

.language-picker--top {
  top: -2px;
  translate: 0 -100%;
}
