.link-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
  padding-inline-start: 0;
  list-style-type: none;

  & > * {
    min-width: fit-content;
  }

  a:has(.link-icon) {
    display: grid;
    align-items: center;
    grid-template-columns: auto 2em;
    column-gap: 0.75rem;
  }

  .link-icon {
    width: 2em;
    height: 2em;
    margin-block: -0.5em;
  }
}

.link-group--vertical {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
