.pill-list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  list-style-type: none;
  padding-inline-start: 0;
}

.pill {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0.375rem 0.625rem;
  border-radius: 9999px;
  border: 1px solid var(--color-text-primary);
  text-decoration: none;
  margin-block-end: 0;
}

a.pill {
  position: relative;
  z-index: var(--z-above-above);
  transition: opacity 250ms ease;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }
}

.pill__icon {
  width: var(--fluid-font-size);
  height: var(--fluid-font-size);
}
